/* CSS style file for index.html for Robert E. Tuzun's professional Web page */

body {
  font-family: sans-serif;
}

p.title {
  text-align: center;
  color: blue;
  font-size: 30pt;
}

.center {
  text-align: center;
  display: block;
}

.blue {
  color: blue;
}

